@import "../../assets/css/theme";

.admin-post-list {
	.admin-post-list-item {
		&.collection-header {
			background-color: $theme-grey;
			border-bottom: 2px solid $theme-green-light;
		}
		.row {
			margin-bottom: 0 !important;
		}
		a {
			color: $theme-green;
			&:hover {
				color: $theme-green-lightest;
				text-decoration: underline;
			}
		}
	}
}
