@import "../../../assets/css/theme";

#admin-category-edit {
	h3 {
		color: $theme-green;
	}
	.row {
		margin-bottom: 0;
	}

	form {
		button {
			//width: 100px !important;
			margin-top: 1em;
			background-color: $theme-green;
		}
	}
}

@media screen and (max-width: 993px) {
}
