html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #232931;
  overflow-x: hidden;
}

main {
  padding-top: 7em;
}

.pointer {
  cursor: pointer;
}

.btn-theme {
  background-color: #4ecca3;
}
.btn-theme:hover {
  color: #4ecca3;
  background-color: #393e46;
  border-bottom: 2px solid #4ecca3;
}

.btn-form {
  width: 150px;
}

.theme-green {
  background-color: #4ecca3;
}

.theme-green-light {
  background-color: #88dcc1;
}

.theme-green-lightest {
  background-color: #c2eddf;
}

.theme-grey {
  background-color: #393e46;
}

.theme-grey-light {
  background-color: #9e9e9e;
}

.theme-black {
  background-color: #232931;
}

.theme-white {
  background-color: #eeeeee;
}

.theme-green-text {
  color: #4ecca3;
}

.theme-green-light-text {
  color: #88dcc1;
}

.theme-green-lightest-text {
  color: #c2eddf;
}

.theme-grey-text {
  color: #393e46;
}

.theme-grey-light-text {
  color: #9e9e9e;
}

.theme-black-text {
  color: #232931;
}

.theme-white-text {
  color: #eeeeee;
}

.hr {
  border-color: #4ecca3;
}

.theme {
  background-color: #4ecca3 !important;
}
.theme.lighten-1 {
  background-color: #88dcc1 !important;
}
.theme.lighten-2 {
  background-color: #c2eddf !important;
}

.theme-text {
  color: #4ecca3 !important;
}
.theme-text.lighten-1 {
  color: #88dcc1 !important;
}
.theme-text.lighten-2 {
  color: #c2eddf !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.blob {
  background-color: #88dcc1;
  padding: 0.2em 0.5em;
  border-radius: 10px;
  margin-right: 0.2em;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-thumb {
  background-color: #4ecca3;
}

::selection {
  background-color: #88dcc1;
  color: #232931;
}
