#index .title {
  color: #4ecca3;
}
#index .text {
  color: #eeeeee;
  font-size: 1.2em;
}
#index .no-posts {
  min-height: 30vh;
}
#index input::placeholder {
  text-align: right;
}

@media screen and (max-width: 993px) {
  #index {
    padding-top: 0;
  }
}
