@import "src/assets/css/theme";

#user-page {
	.user-view {
		h5 {
			font-size: 1.4em;
			margin-bottom: 0;
			margin-top: 0.5em;
		}
		p {
			margin-bottom: 1em;
			margin-top: 0.5em;
		}
	}
	.post-preview {
		h4 {
			font-size: 1.4em;
		}
	}

	.list-title {
		padding-left: 1em;
	}

	.image-container {
		text-align: center;
		.image-wrapper {
			background-color: $theme-black;
			position: relative;
			border-radius: 50%;
			overflow: hidden;
			text-align: center;
			width: 100%;
			padding-bottom: 100%;

			img {
				position: absolute;
				height: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.divider {
		margin-bottom: 0.5em;
	}

	.posts-container {
		overflow-x: scroll;
	}
}
