@import "../../assets/css/theme";

#notifications {
	min-height: 56vh;

	.notification {
		min-height: 64px;
		display: block;
		padding-left: 4em;
		padding-top: 1.2em;
		overflow: hidden;
		//background-color: $theme-grey;
		color: $theme-white;
		position: relative;

		.icon {
			position: absolute;
			//left: .75em;
			left: 0;
			top: .75em;
		}

		.title {
			color: $theme-green-lightest;
			margin-top: 0;
			margin-bottom: .5em;
			//margin: 0;
		}

		.body {
			//padding: 0;
			//margin: 0;
			margin-top: .5em;
			margin-bottom: .5em;
		}

		.age {
			color: $theme-grey-light;
			position: absolute;
			right: .5em;
			top: 0;
		}

		&:hover {
			.icon {
				color: $theme-green-light !important;
			}

			//background-color: $theme-green-light !important;
			//border-bottom: solid 2px $theme-green-light;
		}
	}

	.load-more-container {
		text-align: center;

		.load-more {
			user-select: none;
			color: $theme-green-light;

			&:focus, &:active {
				background-color: transparent !important;
			}
		}
	}
}


@media screen and (max-width: 600px) {
	#notifications {
		.collection-item {
			padding-left: 0;
			padding-right: 0;
		}
		.notification {
			.icon {
			}

			.title {
				//margin: 0;
			}

			.body {
				//padding: 0;
				//margin: 0;
			}

			.age {
			}

			&:hover {
				.icon {
					color: $theme-green-light !important;
				}
			}
		}
	}
}
