#post-editor {
  padding: 1em;
}
#post-editor .EasyMDEContainer {
  border-radius: 0;
  border: none;
}
#post-editor .EasyMDEContainer .editor-toolbar.fullscreen,
#post-editor .EasyMDEContainer .editor-toolbar.fullscreen + .CodeMirror,
#post-editor .EasyMDEContainer .editor-preview {
  margin-top: 7em;
}
#post-editor .EasyMDEContainer .CodeMirror {
  border-radius: 0;
  border: none;
  caret-color: #eeeeee !important;
}
#post-editor .EasyMDEContainer .CodeMirror-cursor {
  border-left-color: #eeeeee;
}
#post-editor .EasyMDEContainer span.CodeMirror-selectedtext, #post-editor .EasyMDEContainer div.CodeMirror-selected {
  background-color: #4ecca3;
  border: none;
}
#post-editor .EasyMDEContainer span.cm-tab {
  background-color: #232931;
}
#post-editor .EasyMDEContainer .editor-toolbar {
  border-radius: 0;
  border: none;
  background-color: #4ecca3;
}
#post-editor .EasyMDEContainer .editor-toolbar button {
  border: none;
  border-radius: 0;
}
#post-editor .EasyMDEContainer .editor-toolbar button.active, #post-editor .EasyMDEContainer .editor-toolbar button:hover {
  background-color: #232931;
  color: #c2eddf;
}
#post-editor .EasyMDEContainer .editor-toolbar i.separator {
  background-color: #232931;
  border-left: 1px solid #232931;
  border-right: 1px solid #232931;
}
#post-editor .EasyMDEContainer .editor-preview {
  color: #eeeeee;
  background-color: #232931;
  border: none;
  border-radius: 0;
}
#post-editor .EasyMDEContainer .editor-preview h1, #post-editor .EasyMDEContainer .editor-preview h2, #post-editor .EasyMDEContainer .editor-preview h3, #post-editor .EasyMDEContainer .editor-preview h4, #post-editor .EasyMDEContainer .editor-preview h5, #post-editor .EasyMDEContainer .editor-preview h6 {
  color: #4ecca3;
}
#post-editor .EasyMDEContainer .editor-preview h1 {
  font-size: 2.9em;
}
#post-editor .EasyMDEContainer .editor-preview h2 {
  font-size: 2.6em;
}
#post-editor .EasyMDEContainer .editor-preview h3 {
  font-size: 2.2em;
}
#post-editor .EasyMDEContainer .editor-preview h4 {
  font-size: 1.8em;
}
#post-editor .EasyMDEContainer .editor-preview h5 {
  font-size: 1.6em;
}
#post-editor .EasyMDEContainer .editor-preview pre {
  padding-left: 0.5em;
  background-color: #393e46;
  overflow-x: auto;
}
#post-editor .EasyMDEContainer .editor-preview a {
  color: #4ecca3 !important;
}
#post-editor .EasyMDEContainer .editor-preview a:hover {
  text-decoration: underline;
}
#post-editor .EasyMDEContainer .editor-preview th, #post-editor .EasyMDEContainer .editor-preview tr, #post-editor .EasyMDEContainer .editor-preview td {
  border-color: #393e46;
}
#post-editor .EasyMDEContainer .editor-preview img {
  max-width: 100%;
}
#post-editor .EasyMDEContainer .CodeMirror {
  background-color: #393e46;
  color: #eeeeee;
}
