@import "../../assets/css/theme";

.sidebar {
	.collection {
		.collection-item {
			padding-left: 0;
			padding-right: 0;

			i {
				margin-right: .3em;
			}

			&:hover a {
				background-color: $theme-green-light !important;
				color: $theme-grey !important;
				&.active {
					color: $theme-grey !important;
				}
			}

			a {
				&.active {
					color: $theme-green !important;
				}
				text-align: left;
				height: 100% !important;
				width: 100%;
				line-height: 2em;
				color: $theme-white;
			}
		}
	}

	nav {
		height: 3.5em;
		transition: all 500ms;
		background-color: $theme-black;
		border-radius: 5px;

		ul {
			display: flex !important;
			align-items: center !important;
			justify-content: space-around !important;
			margin: 0 auto !important;
		}

		ul li {
			a {
				margin-left: 0;
				margin-right: 0;
				top: -5px;
				position: relative;
				color: $theme-white;

				&.active {
					color: $theme-green;
				}

				&:hover {
					color: $theme-green;
					background-color: $theme-black;
					border-bottom: 2px solid $theme-green;
				}
			}
		}

		.sidenav-trigger {
			display: inline !important;
		}
	}
}
