@import "../../assets/css/theme";
.sidebar {
	min-height: 60vh;
	border-right: 2px solid $theme-green;
	.collection {
		.collection-item {
			padding-left: 0;
			padding-right: 0;
			i {
				margin-right: .3em;
			}
			a {
				text-align: left;
				height: 100% !important;
				width: 100%;
				line-height: 2em;
				color: $theme-white;
			}
		}
	}
}
