#ReactSimpleImageViewer {
	z-index: 10000 !important;
}

#media-view {
	.collection {
		min-height: 34vh;
		//overflow: inherit;
		width: 100%;
	}

	tr {
		border-bottom: transparent !important;
	}
}
