.comment-list {
  margin-bottom: 3em;
}
.comment-list .load-more {
  color: #eeeeee;
  padding-left: 0.1em;
  margin-bottom: 1em;
  margin-top: 1em;
}
.comment-list .load-more:hover {
  color: #88dcc1;
  background-color: transparent;
}
.comment-list .comment-list-item {
  padding: 0 1em;
  margin-bottom: 1em;
  border-left: 2px solid #4ecca3;
}
.comment-list .comment-list-item .btn:hover {
  color: #eeeeee;
}
