.stats-scroll {
  max-height: 40vh;
  padding-right: 1em;
  overflow-y: scroll;
}
.stats-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
}
.stats-scroll::-webkit-scrollbar-track {
  background-color: #393e46;
  border-radius: 5px;
}
.stats-scroll .stat-bar .progress {
  background-color: #232931;
}
.stats-scroll .stat-bar .determinate {
  border-radius: 5px;
}
